body {
  background-color: skyblue;
}

.App {
  text-align: center;
}

.Start-button {
  margin: 275px auto;
  font-size: 20px;
  padding: 10px;
}

h2 {
  padding-top: 25px;
}

h3 {
  margin: 85px 25px;
}

.Question-answers {
  border: 2px solid white;
  border-radius: 10px;
  margin: 85px 175px;
  background-color: white;
  box-shadow: 11px 11px 34px -5px rgba(0, 0, 0, 0.75);
}

button {
  margin-bottom: 85px;
  margin-left: 5px;
}
